.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.imageWrapper {
  position: relative;
  border: 2px solid transparent;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.imageWrapper:hover {
  border-color: #aaa;
}

.selected {
  border-color: var(--color-03);
  background-color: rgba(0, 112, 243, 0.1);
}

.checkbox {
  position: absolute;
  top: 4px;
  right: 4px;
}
