@import "../styles/z-index.css";
.selectorWrapper {
  position: relative;
  z-index: var(--z-index-filter-selector);
  min-width: 100px;
  height: 5vh;
  padding: 0 12px;
  outline: none;

  appearance: none;
  cursor: pointer;

  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition:
    transform 0.18s ease,
    box-shadow 0.18s ease,
    opacity 0.18s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    var(--color-orange) 0%,
    var(--color-orange2) 100%
  );
  background: rgba(34, 38, 49, 0.75);
  color: #ffffff;
}

