
.label {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: baseline;
}


.s {
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
 border-radius: 50px;
}

.m {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 50px;
}

.l {
  width: 320px;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #aaa;
 border-radius: 50px;
}

.s:focus,
.m:focus,
.l:focus {
  border: var(--color-03);
  outline: none;
}

.errorMessage {
  color: red;
  font-size: 12px;
}
