/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
@import "../styles/color.css";
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-04);
  background: var(--color-01);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.map-album .leaflet-popup-content-wrapper {
  padding: 24px !important;
  border-radius: 55px !important;
  padding-right: 33px !important;
  padding-bottom: 43px !important;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
