.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  gap: 1rem;
}
.text {
  color: #fff;
  text-shadow: 0 0 8px rgb(115, 0, 255), 0 0 16px rgb(115, 0, 255), 0 0 24px #0ff, 0 0 32px #0ff;
  animation: blink 4s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
